:root {
    --body-background-color:#1e2125;
    --font-color: honeydew;
    --input-background-color: purple;
    --input-border: rgb(35, 247, 201);
}

* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body {
    background-color: var(--body-background-color,#1e2125);
}
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;

}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* padding:3rem 0rem; */
}
.wrapper-nav {
    height: 12vh;
    margin-bottom: 2rem;
}
nav {
    display: flex;
    flex-direction: row;
    color: var(--font-color, honeydew);
    position: fixed;
    top:0px;
    width: 100%;
    /* margin-bottom: 20%; */
}
nav > div {

    width: 10%;
    padding: 1%;
    height: auto;
}
.icon i {
    font-size: 3rem;
    max-width: 50%;
}
.favourites {
    width: auto;
}
.favourites span {
    position: relative;
    top:6px;
    font-size: 1.5rem;
}
.search {
    margin-left: auto;
    width:100%;


}
.search input {

    position: relative  ;
    right: 12px;
    top:3px;
    border: transparent;
    float: right;
    border-radius: 10px;
    height: 1.6rem;
    background-color: var(--font-color,honeydew);
    line-height: 20px;
    
    padding-left: 10px;
    -webkit-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out , background-color 0.5s ease-in-out , border 2s ease-in-out;
}
.search input:focus {
    width: 40%;
    background-color: var(--input-background-color, indigo);
    color: var(--font-color,white);
    border: 1px var(--input-border) solid;
}
.bell-icon  {
    padding-top: 12px;
    font-size: 2rem;
}
.profile-pic  {
    font-size: 2rem;
    padding-top: 12px;

}


 /* main container  */

.main-container {
    display: flex;
    margin-top: 4rem;
    color: var(--font-color);
    align-items: stretch;
    height: 80vh;
    /* width: 95vw; */
}
.main-container div {
    width: 100%;
    height: 100%;
    margin: 1rem 2rem;
}
.main-container main {
    width: 100%;
    border: 2px greenyellow solid;
    height: 100%;
    margin:0rem 1rem;
}


  /* slider container  */
#slide-show {
    height: 45vh;
    width: 100%;
    border: 2px white solid;
}

.main-container .aside-container {
    width:30%;
    margin-right: 4rem;
    height: 90%;
    border: 2px pink solid;
    overflow-x: hidden;
}
#title-playlist {
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#title-playlist::-webkit-scrollbar{
    width: 0 !important;
    background-color: greenyellow !important;
}
.nav {
    margin: 0px !important;
}
/* .nav a {
    text-decoration: none;

}
.nav ul {
    list-style: none;
}

.nav ul a {
    color: #fff;
}

.nav li:hover {
    border: 2px orange solid;
}

.nav ul li ul {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.nav ul li ul:hover ,
.nav li:hover ul {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
}
.nav ul li ul {
    clear: both;
    width: 100%;
} */

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 2px;
    font-size: 1.3rem;
    border: none;
    position: absolute;
    top:0px;
    left: 0px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    margin: 0px !important;
    height: 8% !important;
    margin-bottom: 5px !important;
    width: 100% !important;
    background-color: transparent;
}
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: pink; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #8ac53e;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #709b37;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover  {background-color: #8ac53e;}

.list {
    margin: 0px !important;
    display: flex;
    flex-direction: column;
}
.list > div {
    margin: 0px;
    height: 10%;
    display: flex;
    /* border-top:1px green solid;
    border-bottom: 1px green solid; */
    align-items: center;
    transition: all 1s;
}
.list > div:hover {
    background-color: #8ac53e;
}

.list > div > .fa-ellipsis-h {
    margin-left: auto;
    padding-right: 2px;
}
.list > div > .fa-play {
    padding-right: 8px;
}

#slider{
    overflow:hidden;
    width:50%;margin:5px auto; border: 5px solid transparent;border-radius: 10px;
}
#slider figure img{width:10%;float:left;}
#slider figure{position:relative;width:1000%;margin:0;left:0;text-align:left;animation:20s slideshow infinite}

@keyframes slideshow {
	10% {left: 0;}
	20% {left: 0;}
	30% {left: -100%;}
	40% {left: -100%;}
	50% {left: -200%;}
	60% {left: -200%;}
	70% {left: -300%;}
	80% {left: -300%;}
	90% {left: -400%;}
	100% {left: -400%}
}
#latest-release {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
#latest-release > div{
    margin: 0px;
}
#latest-release div img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding-bottom: 0.5rem;
}
#release-heading {
    padding-top: 30px;

}
#genre {
    border: 2px white solid;
    margin-top: 2rem;
    width:70%;
    position: relative;
    left: 1rem;
    min-height: 35vh;
    /* padding: 0rem 1.5rem; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}
#genre > div {
    width:20%;
}
#genre div img {
    height: 80%;
    padding:0px 15px;
    width: 100%;
    border: 1px white solid;
}
#genre-title {
    padding:0px;
    height: 70%;
    position: relative;
    top: 1rem;
    width:10%;
    padding:0px 5px;
}

#lang-eng {
    height: 30vh;
    border: 2px #ffffff solid;
    width:75%;
    display: flex;
    flex-direction: column;
}
#title-eng {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 300;
    padding-left: 1rem;
    color: white;
}
#lang-eng div img {
    height: 100px;
    width:65%;
    margin:1.5rem;
}
#eng-lang-list {
    display: flex;
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    position: relative;
    left:12%;
}
#eng-lang-list > div {
    flex:1;
    /* width: 10%; */
}

